<table>

  <tr *ngFor="let category of categories">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{ category.name }}</td>
    <td [ngStyle]="{ 'background-color' : category.color }">&nbsp;</td>
    <td *ngFor="let day of getDays()">&nbsp;</td>
  </tr>

  <tr>
    <td>Agrupador</td>
    <td>Tarefas</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td *ngFor="let day of getDays()">{{ day }}</td>
  </tr>

  <tr *ngFor="let hour of getDayHours()">
    <td>{{ getTaskMatchWithHour(hour)?.category_id }}</td>
    <td>{{ getTaskMatchWithHour(hour)?.name }}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
<!--    <td *ngFor="let day of getDays()">&nbsp;</td>-->
    <ng-container *ngFor="let day of getDays()">
      <td [ngStyle]="{
        'background-color': isMatchDayAndHour(getTaskMatchWithHour(hour), day, hour) ? 'black' : '#ffffff'
        }"
      style="color: #ffffff; text-align: center;">{{ isMatchDayAndHour(getTaskMatchWithHour(hour), day, hour) ? hour : '' }}</td>
    </ng-container>
  </tr>


  <!--  <tr *ngFor="let task of tasks">-->
  <!--    <td>{{ task.category_id }}</td>-->
  <!--    <td>{{ task.name }}</td>-->
  <!--    <td>&nbsp;</td>-->
  <!--    <td>&nbsp;</td>-->
  <!--    <ng-container *ngFor="let day of getDays()">-->
  <!--      <td [ngStyle]="{-->
  <!--      'background-color': isMatchDay(task.start_date, day) ? 'black' : '#ffffff'-->
  <!--      }">&nbsp;</td>-->
  <!--    </ng-container>-->
  <!--  </tr>-->

</table>
