<table>

  <tr *ngFor="let category of projects">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{ category.name }}</td>
    <td [ngStyle]="{ 'background-color' : category.color }">&nbsp;</td>
    <td *ngFor="let day of days">&nbsp;</td>
  </tr>

  <tr>
    <td>Agrupador</td>
    <td>Tarefas</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td *ngFor="let day of days">{{ day }}</td>
  </tr>

  <tr *ngFor="let schedule of schedules">
    <td>{{ schedule.task.project_id }}</td>
    <td>{{ schedule.task.name }}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>

    <td *ngFor="let day of schedule.days"
        [ngStyle]="{
        'background-color': day === schedule.task.date_of_completion ? 'orange' : '#ffffff'
        }">
      {{ day === schedule.task.date_of_completion ? schedule.task.hour_of_completion : '' }}
    </td>

  </tr>

</table>
